<div class="sc_package-card">
    <div class="sc__flex-container sc_package--card">
        <div class="sc__flex-item">
            <div class="sc_package--card_image">
                <img src="../../assets/image/1 (1).PNG" alt="" width="" height="">
            </div>
        </div>
    
        <div class="sc__flex-item sc_package--card_content ml-3">
            <div class="sc_package--card_content-wrapper">
               <div class="title sc-txt-h3_small mb-2">
                   Family
               </div>
    
               <div class="description sc-txt-s1 mb-3">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            </div>
    
            <div class="date sc-txt-s1 sc-text-medium mb-4">
                15th Dec 2020 - 26th Dec 2020
            </div>

            <div class="sc-txt-s1">
                Show more
            </div>
            </div>
        </div>
    
        <div class="sc__flex-item sc__flex-item--vcenter sc_package--card_function sc__flex-item--hend p30">
            <div class="sc__flex-container fdcol sc_package--card_function--wrapper">
                <div class="sc__flex-item sc-txt-algn-r mb-3">
                    <div class="title sc-txt-s1 sc-text-regular">Starting from</div>
                    <div class="title sc-txt-h2 sc-text-semi-bold">$500.00</div>
                </div>
        
                <div class="sc__flex-item btn-wrapper">
                    <button class="sc_mat-btn__primary" mat-button>Select</button>
                </div>
            </div>
        </div>
    </div>
</div>



