<!-- <nav class="navbar navbar-expand-lg navbar-light sc-navbar-primary">

  <div class="sc__flex-container">
    <div class="sc__flex-item logo-wrapper">
      <a class="navbar-brand" href="#"><img src="../../assets/image/footer-logo.png" alt="logo" width="" height=""></a>
    </div>
    <div class="sc__flex-item">
      <div class="sc__flex-container">
        <div class="sc__flex-item nav-item">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="sc__flex-item collapse navbar-collaps" id="navbarTogglerDemo02">
          <ul class="sc__flex-container navbar-nav">
            <li class="sc__flex-item nav-item">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="sc__flex-item nav-item">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
    
        <div class="sc__flex-item nav-item">
         aaaaa
        </div>
    
        <div class="sc__flex-item nav-item">
         aaaaa
        </div>

      </div>

      
    </div>

   
</div>
    

    <div class="bottom-gradient"></div>
  </nav>
 -->
 <section class="navigation">
  <div class="nav-container">
    <div class="brand">
       <a href="#"><img src="../../assets/image/footer-logo.png" alt="logo" width="" height=""></a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!">Home</a>
        </li>
        <li>
          <a href="#!">About</a>
        </li>
        <li>
          <a href="#!">Services</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Web Design</a>
            </li>
            <li>
              <a href="#!">Web Development</a>
            </li>
            <li>
              <a href="#!">Graphic Design</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Pricing</a>
        </li>
        <li>
          <a href="#!">Portfolio</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Web Design</a>
            </li>
            <li>
              <a href="#!">Web Development</a>
            </li>
            <li>
              <a href="#!">Graphic Design</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

