
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-dish:before {
  content: "\e908";
}
.icon-gift-box:before {
  content: "\e909";
}
.icon-question:before {
  content: "\e90a";
}
.icon-resume:before {
  content: "\e90b";
}
.icon-settings:before {
  content: "\e90c";
}
.icon-productivity:before {
  content: "\e90d";
}
.icon-question-1:before {
  content: "\e90e";
}
.icon-contact:before {
  content: "\e900";
}
.icon-list:before {
  content: "\e901";
}
.icon-notepad-1:before {
  content: "\e902";
}
.icon-destination:before {
  content: "\e903";
}
.icon-billboard:before {
  content: "\e904";
}
.icon-building:before {
  content: "\e905";
}



.icon-success:before {
  content: "\e91a";
}
.icon-tick-inside-circle:before {
  content: "\e91b";
}
.icon-lightbulb:before {
  content: "\e917";
}
.icon-add-documents:before {
  content: "\e918";
}
.icon-discuss-issue:before {
  content: "\e915";
}
.icon-note:before {
  content: "\e919";
}
.icon-info:before {
  content: "\e916";
}
.icon-email:before {
  content: "\e90f";
}
.icon-edit:before {
  content: "\e910";
}
.icon-warning:before {
  content: "\e911";
}
.icon-settings1:before {
  content: "\e912";
}
.icon-gears:before {
  content: "\e913";
}
.icon-print:before {
  content: "\e914";
}

.icon-paper-plane:before {
  content: "\e91c";
}
