<div class="sc__flex-container fdcol sc_footer-secondary">
    <div class="sc__flex-item sc__flex-item--vcenter sc__flex-item--hcenter sc_footer-secondary-logo">
        <div class="sc_footer-secondary-logo-wrapper">
            <div class="logo"><img src="../../assets/image/footer-logo.png" alt="logo" width="80" height="109"></div>
            <!-- <div class="sc-txt-h1 sc-text-color sc-text-semi-bold">AFC Wimbledon</div> -->
        </div>
    </div>

    <div class="sc__flex-item container-fluid content-wrapper">
        <div class="sc__flex-container row">
            <div class="sc__flex-item sc__flex-item--vcenter sc__flex-item--hcenter sc_footer-secondary-links col-sm-12 col-md-6 col-lg-6">
                <div class="sc_footer-secondary-links-wrapper">
                    <div class="sc-txt-h4 sc-text-color sc-txt-lh-2 link link-txt">About us</div>
                    <div class="sc-txt-h4 sc-text-color sc-txt-lh-2 link link-txt">Privacy policy</div>
                    <div class="sc-txt-h4 sc-text-color sc-txt-lh-2 link link-txt">Terms of use</div>
                </div>
            </div>

            <div class="sc__flex-item sc__flex-item--vcenter sc__flex-item--hcenter sc_footer-secondary-social col-sm-12 col-md-6 col-lg-6">
                <div class="sc_footer-secondary-social-wrapper">
                    <span class="material-icons sc-icn-large sc-text-color link link-icon">link</span>
                    <span class="material-icons sc-icn-large sc-text-color link link-icon">link</span>
                    <span class="material-icons sc-icn-large sc-text-color link link-icon">link</span>
                    <span class="material-icons sc-icn-large sc-text-color link link-icon">link</span>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-gradient"></div>
</div>
