// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import "../../abstract/_colors.scss";

// Typography
$font-family-sans-serif: "Roboto", "Helvetica", "Arial", sans-serif !default;
$font-family-serif: "Roboto Slab", "Times New Roman", serif !default;
$font-family-rubik: "Rubik", sans-serif;
$preferred_font: "Roboto", "Helvetica", "Arial", sans-serif !default;
$performance_font: "Helvetica", "Arial", sans-serif !default;

$prefix: "fs_";

//optimo theme and color codes .....................

$fs_color_primary-blue: #039be5 !default;
$fs_color_primary-red: #f44336 !default;
$fs_color_primary-green: #009688 !default;

$fs_color_secondary-green: #8bc34a !default;
$fs_color_secondary-blue: #03a9f4 !default;
$fs_color_secondary-gray: #9e9e9e !default;
$fs_color_white: #fff !default;
$fs_color_black: #000 !default;

$fs_color_tertiary: #f5c70e !default;
$fs_color_tertiary-dark: #fdc26a !default;
$fs_color_tertiary-light: #ffe082;
$fs_color_quaternary: #333e47;

//text colours..............................................
$fs_text-color__title: #212121 !default;
$fs_text-color__primary: #212121 !default;
$fs_text-color__secondary: #9A9A9A !default;
$fs_text-color__tertiary: #27bfc2;
$fs_text-color__quaternary: #4565bb;
$fs_text-light: #fafafa !default;
$fs_text-blue: #2196F3 !default;

$fs_text-red: #f44336 !default;

//Link Colours..............................................
$fs_link-color__primary: #3a424d;
$fs_link-color__secondary: #2196F3 !default;
$fs_link-color: #535353 !default;

//Border line color.........................................
$fs_border-color: #e0e0e0 !default;
$fs_border-color_light: #d9d9d9 !default;
$fs_border-color_darker: #adacad !default;
$fs_border-color_darkest: #77818a !default;
$fs_border-color_lighter: #b7b7b7 !default;
$fs_border-color_icon: #b5c1e5 !default;

//button colors..............
$fs_btn-default: #ffffff !default;
$fs_btn-active: #03a9f4 !default;
$fs_btn-secondary: #8bc34a !default;
$fs_btn-disable: #9e9e9e !default;
$fs_btn-success: #333 !default;
$fs_btn-warning: #333 !default;

$fs_btn-circle-red: #f44336 !default;
$fs_btn-circle-blue: #2196F3 !default;
$fs_btn-circle-cyan: #00BCD4 !default;
$fs_btn-circle-warning: #FF5722 !default;
$fs_btn-circle-purple: #9c27b0 !default;
$fs_btn-circle-green: #cddc39 !default;
$fs_btn-circle-dgreen: #4caf50 !default;
$fs_btn-circle-dpurple: #673ab7 !default;

//Icon colors
$fs_icon-default: #8a8a8a;
$fs_icon-light: #d0d0d0;
$fs_icon-white: #fff;
$fs_icon-lighter: #f0f6fa !default;
$fs_icon-dark: #b8bcbf !default;
$fs_icon-darker: #a7aaaf !default;
$fs_icon-black: #3b414d !default;
$fs_icon-blue: #3b70c3 !default;

//state colors..............
$no-color--state: #f5766c !default;
$active-color--state: $green-700 !default;
$mute-color--state: $grey-700 !default;
$firm-color--state: $blue-700 !default;
$alert-color--state: $yellow-700 !default;
$definite-color--state: $blue-grey-700 !default;
$quote-color--state: $brown-700 !default;
$success-color--state: #27bfc2 !default;
$cancelled-status: #0000;
$red-danger: $no-color--state;
$success_action: #69f0ae !default;
$success_action_new: #1ce884 !default;
$refund_status: #fbd46b !default;
$refund_status_darker: #ffb200 !default;

$not_completed: #f44336	!default;
$partially_completed: #03a9f4 !default;
$completed: #009688 !default;
$pending: #FFC107 !default;

//Border line color.........................................
$fs_border-color: #e0e0e0 !default;
$fs_border-color_light: #d9d9d9 !default;
$fs_border-color_darker: #ababab !default;
$fs_border-color_darkest: #77818a !default;
$fs_border-color_lighter: #b7b7b7 !default;

//Background color.........................................
$fs_background-color: #F5F5F5 !default;
$fs_background-color-light: #ffffff !default;
$fs_background-color-light-gray: #eeeeee !default;
$fs_background-color-light-blue: #e1f5fe !default;
$fs_background-color-gray: #E0E0E0 !default;
$fs_background-color-dark-gray: #484848 !default;
$fs_background-color-yellow: #FBC02D !default;
$fs_background-nav: #393d40 !default;
