<div class="container sc_package-ticketing-card">
    <div class="sc__flex-container sc_package-ticketing--card fdcol">
        <div class="sc__flex-item sc__flex-item--vcenter sc_package-ticketing--card_header">
            <div class="sc__flex-container">
                <div class="sc__flex-item--inherit sc__flex-item--vcenter">
                    <mat-checkbox class="example-margin"></mat-checkbox>            
                </div>
        
                <div class="sc__flex-item sc__flex-item--vcenter ml-3">
                    <div class="sc-txt-h3_small sc-text-semi-bold">Default</div>
                </div>
        
                <div class="sc__flex-item sc__flex-item--vcenter sc__flex-item--fend">
                    <div class="date sc-txt-h2 sc-text-semi-bold">$250.00</div>
                </div>
            </div>          
        </div>

        <div class="sc__flex-item sc__flex-item--vcenter sc_package-ticketing--card_body">
            <div class="sc__flex-container">
                <div class="sc__flex-item--inherit sc__flex-item--vcenter">
                    <div class="sc_package-ticketing--card_body--card_image">
                        <img src="../../assets/image/1 (1).PNG" alt="" width="" height="">
                    </div>       
                </div>
        
                <div class="sc__flex-item ml-3">
                    <div class="sc__flex-container fdcol">
                        <div class="sc__flex-item sc__flex-item--vcenter mb-3">
                            <div class="title sc-txt-h4 mb-2">Select to continue with the selected package</div>
                        </div>

                        <div class="sc__flex-item sc__flex-item--vcenter">
                            <div class="sc__flex-container">
                                <div class="sc__flex-item sc__flex-item--vcenter">
                                   <div class="sc-txt-s2">
                                       Default
                                   </div>
                                </div>

                                <div class="sc__flex-item sc__flex-item--vcenter">
                                    <div class="sc-txt-s2">
                                        $250.00
                                    </div>
                                </div>

                                <div class="sc__flex-item sc__flex-item--vcenter">
                                    
                                </div>
                            </div>
                        </div>
                
                                 
                    </div>          
                </div>              
            </div>          
        </div>
    </div>
    </div>



