<div class="sc-event-category-list">
    <div class="container-fluid sc-event-category-list-slider">
        <div class="row sc-event-category-list-slider-wrapper">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <app-sc-owl-carousel></app-sc-owl-carousel>
            </div>
        </div>
    </div>

        <div class="container sc-event-category-list-content">
        <div class="row sc-event-category-list-content-search sc-my-4">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <app-sc-search-primary></app-sc-search-primary>
            </div>
        </div>

        <div class="row sc-event-category-list-content-card sc-mb-4">
            <div class="col-sm-12 col-md-4 col-lg-4 sc-event-category-list-content-card-wrapper">
                <app-sc-event-list-card></app-sc-event-list-card>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 sc-event-category-list-content-card-wrapper">
                <app-sc-event-list-card></app-sc-event-list-card>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 sc-event-category-list-content-card-wrapper">
                <app-sc-event-list-card></app-sc-event-list-card>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 sc-event-category-list-content-card-wrapper">
                <app-sc-event-list-card></app-sc-event-list-card>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 sc-event-category-list-content-card-wrapper">
                <app-sc-event-list-card></app-sc-event-list-card>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 sc-event-category-list-content-card-wrapper">
                <app-sc-viewall-card></app-sc-viewall-card>
            </div>

        </div>

    </div>
</div>


<app-sc-footer-primary></app-sc-footer-primary>