

<div class="sc-event-info">
    <div class="container sc-event-info-wrapper">
        <div class="row sc-event-info-video">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <app-sc-owl-carousel></app-sc-owl-carousel>
            </div>
        </div>
        <div class="row sc-event-info-content">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="sc__flex-container fdcol">
                    <div class="sc__flex-item event-title sc-mb-4">
                        <div class="sc-txt-h1-small sc-text-color__quaternary sc-text-semi-bold sc-mb-1">Jack Absolute Flies Again</div>
                        <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">by Richard Bean and Oliver Chris</div>
                        <div class="sc-txt-h4 sc-text-color__secondary sc-text-regular sc-txt-lh-1nh">based on Richard Brinsley Sheridan’s The Rivals Postponed</div>
                        <div class="sc-txt-h4 sc-text-color__secondary sc-text-regular sc-txt-lh-1nh">Running Time: 3 hrs</div>
                    </div>
                    <div class="sc__flex-item event-details sc-mb-4">
                        <div class="sc-txt-h3 sc-text-color__quaternary sc-text-medium sc-mb-2">Event Details</div>
                        <div class="sc-txt-b1 sc-text-color__primary sc-text-regular sc-txt-lh-2">Love is in the air.
    
                            July 1940. After an aerial dog fight, Pilot Officer Jack Absolute flies home to rejoin his intrepid young Hurricane squadron at RAF Fontwell (formerly Malaprop Hall).
                            
                            Back on British soil, Jack is shocked to find his old flame, Lydia, on the base. Setting his sights on winning her heart, Jack’s advances turn to anarchy when the young heiress demands to be loved on her own terms.
                            
                            ‘One of the funniest productions in the National’s history.’
                            Guardian on One Man, Two Guvnors</div>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="sc__flex-container fdcol sc-mb-4">
                    <div class="sc__flex-item event-title">
                        <div class="sc-txt-h3 sc-text-color__quaternary sc-text-medium sc-mb-2">Production Team</div>
                    </div>
                    <div class="sc__flex-item event-details">
                        <div class="sc__flex-container fwrap">
                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>

                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>

                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>

                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>

                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>

                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>

                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>

                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>

                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>

                            <div class="sc__flex-item p50 sc-mb-2">
                                <div class="sc-txt-h4 sc-text-color__primary sc-text-medium sc-txt-lh-1nh">Director</div>
                                <div class="sc-txt-h4 sc-text-color__secondary sc-text-medium sc-txt-lh-1nh">Thea Sharrock</div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sc__flex-container sc-event-cast fdcol">
                    <div class="sc__flex-item sc-event-cast-title sc-mb-2">
                        <div class="sc-txt-h3 sc-text-color__quaternary sc-text-medium sc-mb-2">Cast</div>
                    </div>
                    <div class="sc__flex-item sc-event-cast-slider sc-mb-4">
                        <ng-image-slider [images]="imageObject" #nav
                        [images]="imageObject"
                        [infinite]="false"
                        [autoSlide]="1"
                        [imageSize]="{width: 154, height: 180, space: 12}"
                        slideImage="1"
                        [imagePopup]="false"
                        ></ng-image-slider>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sc__flex-container fdcol">
                    <div class="sc__flex-item sc__flex-item--vcenter sc__flex-item--fend event-price sc-mb-2">
                        <div class="sc-txt-h3 sc-text-color__quaternary sc-text-medium">Tickets starting from <span>$50.00</span></div>
                    </div>
                    <div class="sc__flex-item sc__flex-item--vcenter sc__flex-item--fend event-cast-slider sc-mb-4">
                        <button class="sc_mat-btn__primary" mat-button>Buy tickets</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <app-sc-footer-secondary></app-sc-footer-secondary>
</div>
