<div class="sc__flex-container fdcol sc_footer-primary">
    <div class="sc__flex-item sc__flex-item--vcenter sc__flex-item--hcenter sc_footer-primary-header-wrapper">
        <div class="sc_footer-primary-header">
            <div class="logo"><img src="../../assets/image/footer-logo.png" alt="logo" width="80" height="109"></div>
            <div class="sc-txt-h1 sc-text-color sc-text-semi-bold">AFC Wimbledon</div>
        </div>
    </div>
    <div class="sc__flex-item sc__flex-item--vcenter sc__flex-item--hcenter sc_footer-primary-newsletter-wrapper sc-mb-4">
        <div class="sc_footer-primary-newsletter d-flex">
            <div class="email">
                <mat-form-field [floatLabel]="'never'" class="">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput placeholder="Email Address" value="">
                  </mat-form-field>
            </div>
           
            <button class="sc_mat-btn__primary" mat-button><span class="material-icons d-mobile">
                send
                </span><span class="h-mobile">Subscribe to newsletter</span></button>
        </div>
    </div>
    
    <div class="sc__flex-item container  sc_footer-primary-content">
        <div class="sc_footer-primary-content-wrapper row">
           <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="sc__flex-container">
                <div class="sc__flex-item sc__flex-item--vcenter fdcol text-center contact">
                    <div class="sc-txt-h2 sc-text-color__quinary sc-txt-lh-2">Contact Us</div>
                    <div class="sc-txt-h4 sc-text-color sc-txt-lh-2 link-txt">Email: info@afcwimbledon.ltd.uk</div>
                    <div class="sc-txt-h4 sc-text-color sc-txt-lh-2 link-txt">Tel: +44 (0)20 8547 3528</div>
                </div>
            </div>
           </div>

           <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="sc__flex-container">
                <div class="sc__flex-item sc__flex-item--vcenter fdcol location">
                    <div class="sc-txt-h2 sc-text-color__quinary sc-txt-lh-2">Location</div>
                    <div class="sc-txt-h4 sc-txt-algn-c sc-text-color sc-txt-lh-2">AFC Wimbledon<br>
                        The Cherry Red Records Stadium<br>
                        Jack Goodchild Way<br>
                        422a Kingston Road<br>
                        Kingston upon Thames<br>
                        Surrey<br>
                        KT1 3PB</div>
                </div>
            </div>
           </div>

           <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="sc__flex-container">
                <div class="sc__flex-item sc__flex-item--vcenter fdcol page-links">
                    <div class="sc-txt-h2 sc-text-color__quinary sc-txt-lh-2">Help</div>
                    <div class="sc-txt-h4 sc-text-color sc-txt-lh-2 link-txt">About us</div>
                    <div class="sc-txt-h4 sc-text-color sc-txt-lh-2 link-txt">Privacy policy</div>
                    <div class="sc-txt-h4 sc-text-color sc-txt-lh-2 link-txt">Terms of use</div>
                </div>
            </div>
           </div>


        </div>
    </div>

    <div class="sc__flex-item sc__flex-item--vcenter sc__flex-item--hcenter sc_footer-primary-social-wrapper">
        <div class="sc_footer-primary-social">
            <span class="material-icons sc-icn-large sc-text-color link-icon">link</span>
            <span class="material-icons sc-icn-large sc-text-color link-icon">link</span>
            <span class="material-icons sc-icn-large sc-text-color link-icon">link</span>
            <span class="material-icons sc-icn-large sc-text-color link-icon">link</span>
        </div>
    </div>
</div>