<!-- <app-sc-event-category-card></app-sc-event-category-card> -->
<!-- <app-sc-event-list-card></app-sc-event-list-card> -->
<!-- <app-sc-footer-primary></app-sc-footer-primary> -->
<!-- <app-sc-footer-secondary></app-sc-footer-secondary> -->
<!-- <app-sc-search-primary></app-sc-search-primary> -->
<!-- <app-sc-header-slider></app-sc-header-slider> -->
<!-- <app-sc-owl-carousel></app-sc-owl-carousel> -->
<app-sc-navbar-primary></app-sc-navbar-primary>
<!-- <app-sc-viewall-card></app-sc-viewall-card> -->
<!-- <app-sc-event-info></app-sc-event-info> -->
<!-- <app-sc-event-category-list></app-sc-event-category-list> -->
<!-- <app-sc-event-list></app-sc-event-list> -->


<router-outlet></router-outlet>