<div class="sc-package-selection-courses">
    <div class="sc-package-selection-courses--header-inner">
        <div class="row sc-package-selection-courses--header-inner-wrapper">
            <div class="col-sm-12 col-md-12 col-lg-12">
               
            </div>
        </div>
    </div>

        <div class="container sc-event-category-list-content">
        <div class="row sc-event-category-list-content-search sc-my-4">
            <div class="col-sm-12 col-md-6 col-lg-6">
               
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="sc-txt-h1-small">
                    VVIP Lounge
                </div>

                <div class="sc-txt-b1">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

 At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
                </div>
            </div>
        </div>

        <div class="row sc-event-category-list-content-title bt-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sc-txt-h1-small">
                    All Packages
                </div>
            </div>
        </div>

        <div class="row sc-event-category-list-content-card sc-mb-4">

        </div>

    </div>
</div>


<app-sc-footer-secondary></app-sc-footer-secondary>

