<div class="sc__flex-container fdcol sc_event-category--card">
    <div class="sc__flex-item sc__flex-item--vcenter sc_card-header-wrapper">
        <div class="sc_card-header">
            <div class="sc-txt-h3_small sc-text-color__primary sc-text-semi-bold">Club Members</div>
        </div>
    </div>
    <div class="sc__flex-item sc__flex-item--vcenter  sc_card-body-wrapper">
        <div class="sc_card-body">
            <img src="../../assets/image/1 (1).PNG" alt="" width="" height="">
        </div>
    </div>

    <div class="sc__flex-item sc__flex-item--vcenter  sc_card-footer-wrapper">
        <div class="sc_card-footer">
            <div class="footer-content sc-txt-b2">Becoming a Club Member gives you access to a 50,000-square-foot indoor, climate ….</div>
            <button class="sc_mat-btn__primary" mat-button>view events</button>
        </div>
    </div>
</div>
