<div class="sc-package-selection-courses">
    <div class="sc-package-selection-courses--header-inner">
        <div class="row sc-package-selection-courses--header-inner-wrapper">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <app-sc-header-inner></app-sc-header-inner>
            </div>
        </div>
    </div>

        <div class="container sc-event-category-list-content">
        <div class="row sc-event-category-list-content-search sc-my-4">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <app-sc-search-primary></app-sc-search-primary>
            </div>
        </div>

        <div class="row sc-event-category-list-content-card sc-mb-4">
            <div class="col-sm-12 col-md-12 col-lg-12 sc-event-category-list-content-card-wrapper">
                <app-sc-package-card></app-sc-package-card>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 sc-event-category-list-content-card-wrapper">
                <app-sc-package-card></app-sc-package-card>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 sc-event-category-list-content-card-wrapper">
                <app-sc-package-card></app-sc-package-card>
            </div>
            

        </div>

    </div>
</div>


<app-sc-footer-secondary></app-sc-footer-secondary>
