<div class="sc__flex-container">
    <div class="sc__flex-item--inherit sc__flex-item--vcenter">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>remove</mat-icon>
          </button>
    </div>

    <div class="sc__flex-item sc__flex-item--vcenter counter-form-field">
        <mat-form-field appearance="fill">
            <!-- <mat-label>Input</mat-label> -->
            <input matInput>
          </mat-form-field>
    </div>

    <div class="sc__flex-item--inherit sc__flex-item--vcenter">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>add</mat-icon>
          </button>
    </div>
</div>


