<div class="sc_header-inner-wrapper">
    
    <!-- <div class="sc_header-inner-wrapper-image">
        <img src="../../assets/image/1 (1).PNG" alt="" width="" height="">
    </div> -->
    <div class="container sc_header-inner-wrapper-container">
        <div class="sc__flex-container sc_header-inner-wrapper-container--inner fdcol">
            <div class="sc__flex-item title mb-3">
                <div class="sc-txt-h1-small sc-text-color">French Language Classes</div>
                <div class="sc-txt-h2 sc-text-color">Package selection - City of Gosnells</div>          
            </div>

            <div class="sc__flex-item description">
                <div class="sc-txt-h3_small sc-text-regular d-flex sc-text-color"><span class="material-icons mr-3">place</span>AFC Wimbledon</div>
                <div class="sc-txt-h3_small sc-text-regular d-flex sc-text-color"><span class="material-icons mr-3">date_range</span>From 03rd July to 05th July</div>  
                <div class="sc-txt-h3_small sc-text-regular d-flex sc-text-color"><span class="material-icons mr-3">payments</span>Starting from $300.00</div>    
            </div>
        </div>
    </div>
</div>

