<div class="sc__flex-container sc_search-secondary">

    <div class="sc__flex-item sc__flex-item sc_search-secondary-search">
        <div class="sc_search-primary-search-wrapper">
            <mat-form-field appearance="fill">
                <mat-label>Search for Packages</mat-label>
                <input matInput placeholder="Search for events">
                <mat-icon matSuffix>search</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
        </div>
    </div>

   
</div>