<div class="sc__flex-container fdcol sc_event-list--card">
    <div class="sc__flex-item sc__flex-item--vcenter sc_card-header-wrapper">
        <div class="sc_card-header">
            <div class="sc-txt-h3_small sc-text-color__primary sc-text-semi-bold">Arsenal vs Wimbledon FC</div>
        </div>
    </div>
    <div class="sc__flex-item sc__flex-item--vcenter  sc_card-body-wrapper">
        <div class="sc_card-body">
            <img src="../../assets/image/1 (1).PNG" alt="" width="" height="">
        </div>
    </div>

    <div class="sc__flex-item sc__flex-item--vcenter  sc_card-footer-wrapper">
        <div class="sc_card-footer">
            <div class="footer-content sc-txt-b2">Becoming a Club Member gives you access to a 50,000-square-foot indoor, climate ….</div>

            <div class="sc__flex-container">
                <div class="sc__flex-item date-time-wrapper">
                    <div class="sc__flex-item--vcenter sc-txt-s1 sc-text-color__primary sc-text-semi-bold"><span class="material-icons mr-2">event</span> 05th Jul 2020</div>
                    <div class="sc__flex-item--vcenter sc-txt-s1 sc-text-color__primary sc-text-semi-bold"><span class="material-icons mr-2">schedule</span>2:30PM onwards</div>
                </div>
                <div class="sc__flex-item price-wrapper">
                    <div class="sc-txt-b1 sc-text-color__primary sc-text-semi-bold">Starting from</div>
                    <div class="sc-txt-b3 sc-text-color__primary sc-text-semi-bold">$50</div>
                </div>
            </div>

            <div class="button-wrapper">
                <!-- <div class="sc-txt-b2 link2">More info</div> -->
                <div><button class="sc_mat-btn__primary" mat-button>Buy Tickets</button></div>
            </div>
        </div>
    </div>
</div>